modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npx serve -s build -l 5000"]
build = ["sh", "-c", "npm install && npm run build"]

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 15009130
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve -s build -l 5000"
